Repository manoldonev/react-todo-app-css-modules: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

.lintstagedrc:

{
  "*.{html,css}": [
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "prettier --write",
    "npm run lint:fix"
  ]
}

Updates
  asset-manifest.json
  index.html
  static/js/main.85f0c46f.chunk.js
  static/js/main.85f0c46f.chunk.js.map
  static/js/main.9ea19c5f.chunk.js
  static/js/main.9ea19c5f.chunk.js.map
Due: prettier --write, npm run lint:fix

chore: update readme
  README.md
Due: none

chore: enable stylelint
  .lintstagedrc
  .stylelintrc
  .vscode/settings.json
  package-lock.json
  package.json
  src/components/TodoList/ActionList/ActionList.module.scss
  src/components/TodoList/Filter/Filter.module.scss
  src/components/TodoList/Footer/Footer.module.scss
  src/components/TodoList/Header/Header.module.scss
  src/components/TodoList/Info/Info.module.scss
  src/components/TodoList/InputBox/InputBox.module.scss
  src/components/TodoList/SearchBox/SearchBox.module.scss
  src/components/TodoList/TodoItem/TodoItem.module.scss
  src/components/TodoList/TodoList.module.scss
  src/index.scss
Due: none

chore: update stylelint settings
  .stylelintrc
  .vscode/settings.json
Due: none

chore: update pre-commit hook
  .husky/pre-commit
  .lintstagedrc
Due: none

chore: add github actions workflow
  .github/workflows/main.yml
  package-lock.json
  package.json
Due: none

chore: add github actions workflow (#1)
  .github/workflows/main.yml
  package-lock.json
  package.json
Due: none

chore: update readme with ci badge
  README.md
Due: none

Updates
  asset-manifest.json
  index.html
  static/css/main.aae5b0f7.chunk.css
  static/css/main.aae5b0f7.chunk.css.map
  static/css/main.d8dea380.chunk.css
  static/css/main.d8dea380.chunk.css.map
Due: prettier --write
